<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Signup Page</title>
</head>
<body>
	<section>
		<div class="container">
			<!-- type div.container & tab button for shortcut -->
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-2">
					
						
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
							<p class = "text-center" th:text="${session.message.content}"></p>
					    	<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div> 
						 
							
						<div class="container text-center">
							<img style="width: 80px" th:src="@{/img/registered.png}" alt="" />
						</div>
						<h1 class="text-center">Register Here !!</h1>

						<form novalidate th:action="@{/do_register}" method="post"
							th:object="${user}">   <!-- We used novalidate so that 'required' keyword does not work in all label and we validate through server instead of required keyword -->
							<div class="form-group">

								<!-- name field -->
								<label for="name_field">Your Name</label> <input type="text"
									class="form-control is-invalid" 
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									id="name_field" th:value="${user.name}"
									name="name" placeholder="Enter here" required>
									
									<div class = "invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
									</div>

								<!-- email field -->
								<label for="email_field">Your Email</label> <input type="email"
									class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter here"
									name="email" th:value="@{user.email}" required> <small
									id="emailHelp" class="form-text text-muted">We'll never
									share your email with anyone else. </small>

								<!-- password field -->
								<label for="password_field">Your Password</label> <input
									type="password" class="form-control" id="password_field"
									placeholder="Enter here" name="password" required>

								<!-- user about field -->
								<div class="form-group">
									<textarea th:value="@{user.about}" name="about"
										placeholder="Enter your description" rows="10"
										class="form-control"></textarea>

								</div>

								<!-- Agreement -->
								<div class="form-group form-check text-center">
									<input type="checkbox" id="agreement" name="agreement"
										class="form-check-input"> <label for="agreement">Accept
										terms & conditions</label>
								</div>

								<div class="container text-center">
									<button type="submit"
										class="bt bg-primary btn-block text-white">Submit</button>
									<!-- cntrl Alt downKey to copy paste -->
									<button type="reset"
										class="bt btn-warning btn-block text-white">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(()=>{
			$(".nav-link").removeClass("active");
			$("#signup").addClass("active");
		});
		</script>
	</section>
</body>
</html>